# Supabase PostgreSQL Database Connection String
# Paste your Supabase Connection String into Vercel Environment Variables:
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.xxdhpqcntcdcdmrhhpsk.supabase.co:5432/postgres?sslmode=require"

# Hokage Admin Access PIN
ADMIN_PIN="1234"
